<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8rH7_UkZ322XxWOvEPGUUDk7m9RMeRTU</string>
	<key>GCM_SENDER_ID</key>
	<string>15477553646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>florianlankes.DevMatch</string>
	<key>PROJECT_ID</key>
	<string>dev-match-7f633</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-match-7f633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15477553646:ios:2795cac0cd7b33096136ff</string>
</dict>
</plist>